
{% extends 'base.html' %}

{% block title %}admin{% endblock %}

{% block content %}

<table class="table">
	<thead>
		<tr>
			<th>uid</th>
			<th>ip</th>
			<th>mtime</th>
			<th>url</th>
			<th>addr</th>
			<th>user-agent</th>
		</tr>
	</thead>
	<tbody>
		{% for sta in statistics %}
		<tr>
			<th>{{ sta.uid }}</th>
			<th>{{ sta.ip }}</th>
			<th>{{ sta.mtime }}</th>
			<th>{{ sta.url }}</th>
			<th>{{ sta.addr }}</th>
			<th>{{ sta.user_agent }}</th>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
